body {
    margin: 0;
    background: black;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#game {
    width: 100vw;
    height: 100vh;
    background: url('ninja.jpg');
    cursor: pointer;
}

.fruit {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#score {
    position: absolute;
    top: 20px;
    left: 20px;
    color: gray;
    font-size: 24px;
}

#timer {
    position: absolute;
    top: 20px;
    right: 20px;
    color: gray;
    font-size: 24px;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    display: none;
}

.theme-selector {
    display: flex;
    justify-content: center;
}

.theme-selector button {
    background-color: gray;
    cursor: pointer;
}

#game {
    background-size: cover;
}

body#ninja #game {
    background-image: url('ninja.jpg');
}

body#wall #game {
    background-image: url('wall.jpg');
}

body#yin-yang #game {
    background-image: url('yin-yang.jpg');
}

body#watermelon #game {
    background-image: url('watermelon.png');
}

body#blue #game {
    background-image: url("blue.jpg");
}

body#white #game {
    background-image: url("white.jpg");
}